{% extends "base.html" %}
{% block title %}A Blog{% endblock title%}
{% block head %}
  {{ super() }}
{% endblock head %}
{% block heading %}
  <h1 class="display-4 text-center">Blog</h1>
{% endblock heading %}
{% block quote %}Bloggity blog blog{% endblock quote %}
{% block mainbody %}
  <div class="row" id="main-row" >
    <div class="col-sm-10" id="article-content" >
        <h3>{{ meta['title'] }}</h3>
        <p class="text-muted">{{ meta['postdate'] }}</p>
        <p class="text-justify" >
            {{ content }}
        </p>
    </div>
  </div>
{% endblock mainbody %}